/* Set default colours for site */
:root {
  --background: #FFFFFF;
  --header-background: #666666;
  --border-colour: #222222;
  --header-font: #14ABB2;
  --text-font: #666666;
  --label-background: #14ABB2;
  --label-font: #FFFFFF;
  --link-color: #FFFFFF;
  --mod-title-desc-color: #000000;
}

/* Header set as flexbox with article wrap on small screens */
header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  padding: 0.4rem;
  background-color: var(--header-background);
  color: var(--header-font);
  border-width: 0.5rem;
  border-color: #FFFFFF;
  border-style: solid;
}

footer {
  text-align: center;
  padding: 1rem;
  background-color: var(--header-background);
  color: var(--label-font);
  border-width: 1rem;
  border-color: #FFFFFF;
  border-style: solid;
}

footer img {
  width: 2rem;
}

/* Format navigation style */
nav a {
  color: var(--link-color);
  text-decoration: none;
  margin: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  /* Default heading syle */
  margin-bottom: 0.4rem;
  color: var(--header-font);
  line-height: 1.3;
  padding-left: 0.5rem;
}

p {
  font-size: 1.25rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
  text-align: left;
}

nav ul {
  padding-left: 0rem;
}

.nav-link {
  padding: 0rem;
}

.form {
  margin: 1rem;
}

.form input {
  display: block;
  font-size: 1.3rem;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  width: 100%;
}

.form label {
  font-size: 1.3rem;
}

.form textarea {
  display: block;
  font-size: 1.3rem;
  resize: none;
  width: 100%;
  height: 10rem;
}

/* place a small margin around each section */
.section {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.page {
  min-height: 42rem;
}

/* Flexbox for profile section */
.profile {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Setting deaful profile image size */
.profile-image {
  width: 28rem;
  height: auto;
  margin-left: 1rem;
}

.profile-image img {
  border-color: var(--border-colour);
  border-style: solid;
  border-width: 0.2rem;
  padding: 0.25rem;
  /* Images adjusted to fit parent container*/
  max-width: 100%;
}

.profile-links a {
  padding-right: 2rem;
}

/* Container flexbox class for work image section */
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Container itme style and position setup for label */
.item {
  position: relative;
  margin: 0.8rem 0.8rem;
}

.item img {
  border-color: var(--border-colour);
  border-style: solid;
  border-width: 0.2rem;
  padding: 0.25rem;
  /* Images adjusted to fit parent item*/
  max-width: 100%;
}

/* Hover style for work showcase images */
.item:hover {
  opacity: 75%;
}

/* Work label styling */
.label {
  flex-wrap: wrap;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  width: 17rem;
  height: 7rem;
  border-color: var(--border-colour);
  border-radius: 0.5rem;
  border-width: 0.2rem;
  border-style: solid;
  background-color: var(--label-background);
  border-color: var(--border-colour);
  color: var(--label-font);
  text-align: left;
}

.label h4 {
  color: black;
}

.label-text {
  display: block;
  font-size: 1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

/* Align contact items */
.contact {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.contact-item {
  font-size: 2rem;
  margin-left: 2rem;
}

/* General styling for Comming Soon page */
.coming-soon {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.coming-soon div {
  width: 30rem;
  height: 22rem;
  margin-top: 7rem;
  background-color: var(--label-background);
  text-align: center;
  border-style: double;
  border-width: 1.5rem;
  font-size: 6rem;
  font-weight: 700;
}

.title-desc {
  color: var(--mod-title-desc-color);
}

.resume li {
  font-size: 1.3rem;
}

/* using a mobile-first approach, use `min-width` values going from narrow -> wide for a responsive design */
@media screen and (min-width: 768px) {

  /* Ajust article width for medium screen sizes */
  article {
    max-width: 80%;
    margin-top: 2rem;
  }

  /* Extra margin when article paragrah alongside image for larger screen sizes */
  p {
    margin-left: 2rem;
  }

  /* Item image sizes ajustment for medium size screens */
  .item img {
    max-width: 25rem;
  }

  .showcase img {
    max-width: 50rem;
  }
}

/* media query for larger screens */
@media screen and (min-width: 992px) {

  /* Adjust body width for large screen size */
  body {
    width: 80%;
  }

  nav ul li {
    display: inline-block;
    margin-left: 2rem;
  }

  /* Ajust article width for large screen sizes */
  article {
    max-width: 45%;
    margin-top: 1rem;
  }

  .form input {
    width: 45%;
  }

  .form textarea {
    width: 45%;
  }

  /* Item image sizes ajustment for large size screens */
  .item img {
    max-width: 31rem;
  }

  .showcase img {
    max-width: 62rem;
  }

}