/* Set default colours */
:root {
  --background: #FFFFFF;
}

html {
  /* Set 1rem to 10px instead of native 16px to make it easier to calculate font-size values for the rest of the page (e.g. 1.6rem is 16px, 2.0rem is 20px, etc.) */
  font-size: 62.5%;
}

body {
  /* Sans Serif font stack is implemented to help select the best font for each type of computer operating system */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

  /* 1.75rem = 17.5px */
  font-size: 1.75rem;
  line-height: 1.5;
  color: var(--text-font);
  background-color: var(--background);
  width: 100%;
  margin: auto;
}